<div id="box">
  <p id="quote-content"></p>
  <p id="person"></p>
  <div id="source"></div>
</div>
<div id="view-quote">view quote</div>
<div id="get-a-quote">Save quote</div>
<%= link_to "View Downloaded Quotes", quotes_path %>
<script type="text/javascript" src = "assets/quote.js">
</script>
<style type="text/css" src = "assets/quote.css">	
</style>